---
interface Props {
	name: string;
	content: string;
	price: string;
	img: string;
}
const { name, content, price, img } = Astro.props;
---

<article
	class="mt-8 flex flex-col items-center justify-center sm:flex-row lg:ml-4 xl:ml-0 xl:w-[45.5%]"
>
	<img
		src={img}
		alt={name}
		class="max-h-[18rem] w-[20rem] min-w-[20rem] overflow-hidden rounded-lg object-cover sm:max-h-[18rem] sm:rounded-br-none sm:rounded-tr-none"
	/>
	<div
		id="cart"
		class="relative bottom-3 max-w-[19.5rem] rounded-lg bg-gray-100 px-4 py-2 text-gray-900 shadow-2xl sm:bottom-0 sm:flex sm:h-[18rem] sm:w-[15rem] sm:flex-col sm:justify-between sm:rounded-bl-none sm:rounded-tl-none"
	>
		<div id="description" class="sm:mt-4">
			<p class="text-xl font-bold">{name}</p>
			<p class="leading-snug text-gray-700 sm:mt-4">{content}</p>
			<p class="font-medium sm:mt-4">{price}</p>
		</div>
		<div id="star" class="flex items-center text-center sm:mb-2">
			<slot />
		</div>
	</div>
</article>
